@import "tailwindcss";

@layer components {
  .btn-primary {
    @apply bg-green-600 hover:bg-green-700 text-white font-bold py-4 px-8 rounded-lg transition shadow-lg;
  }
  .btn-wa {
    @apply fixed bottom-6 right-6 z-50 bg-[#25D366] hover:bg-[#128C7E] text-white rounded-full p-4 shadow-2xl flex items-center justify-center text-3xl;
  }
}